<div class="location-card">
  <p><%= location.image %></p>
  <h3><%= location.city %></h3>
  <hr />
  <ul>
    <% location.address.each do |line| %>
      <li><%= line %></li>
    <% end %>
  </ul>
  <hr />
</div>
